* {
    margin: 0;
    padding: 0;
}

.one {
    text-align: center;
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    left: 2%;
    top: 13%;
    color: #dac6c6;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 600;
    justify-content: center;

}

.first {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;

    /* opacity: 50%;
    background-blend-mode: multiply; */


    /* background-color: black;
    opacity: 50%; */


}

.helw {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    position: relative;
    top: 35%;
    left: 2%;
    justify-content: center;
}

.section2 {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin: 5%;
}

.our {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin-top: 0%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.we {
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.photo {
    width: 35%;
}

.photo2 {
    width: 18vw;
    height: 20%;
    position: relative;

    left: 70%;

    /
}

.party {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Merriweather', serif;

    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 11%;
    padding-left: 12%;
    letter-spacing: 13px;
}

.dance {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12%;
    letter-spacing: 1px;
    color: #FFFFFFCC;
    padding-top: 1%;

}

.btn {
    color: #053e31;
    /* background-color: rgb(5, 143, 131); */
    margin-top: 3%;
    margin-left: 3%;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.bb {
    /* display: flex; */
    background-image: url('../resources/Vectorrr.png');
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    background-size: cover;
}

.time {
    background-color: antiquewhite;
    margin-top: 60px;
    margin-left: 200px;
    margin-bottom: 200px;
    margin-right: 250px;
    height: 50vh;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 7%;
}

.red {
    color: red
}

.btn2 {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 30px;
    margin-bottom: 100px;
}

.flex {
    display: flex;
}