* {
    margin: 0;
    padding: 0;
}

.one {
    text-align: center;
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    left: 5%;
    top: 8%;
    color: #dac6c6;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;


}

.first {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;


    /* background-color: black;
    opacity: 50%; */


}

.helw {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 30%;
    justify-content: center;
}

.section2 {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin: 5%;
}

.our {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin-top: 0%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.we {
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.photo {
    width: 35%;
}

.photo2 {
    width: 18vw;
    position: relative;
    top: 7%;
    left: 1%;
    margin: 65px 120px 60px 700px;




}

/* .party {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color: #970b0b;
    font-size: 32px;
    font-weight: 700;
    height: 100%;
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;

} */

.bb {
    display: flex;
    background-image: url('../resources/Vectorrr.png');
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;

}