* {
    margin: 0;
    padding: 0;
}

.one {
    text-align: center;
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    left: 2%;
    top: 13%;
    color: #dac6c6;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 600;
    justify-content: center;

}

.first {
    background-image: url('../resources/Banner\ Image.png');

    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;


    /* opacity: 50%;
    background-blend-mode: multiply; */


    /* background-color: black;
    opacity: 50%; */


}

.helw {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
    position: relative;
    top: 35%;
    left: 2%;
    justify-content: center;
}

.section2 {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin: 5%;
}

.our {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FF0000;
    margin-top: 0%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.we {
    font-family: 'Inter', sans-serif;
    color: #070211;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.photo {
    width: 35%;
}

.photo2 {
    width: 18vw;
    height: 50vh;
    position: absolute;
    top: 18%;
    left: 70%;
    right: 10%;

}

.party {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Merriweather', serif;

    font-size: 56px;
    font-weight: 900;
    color: #FFFFFF;
    padding-top: 23%;
    padding-left: 22%;
    word-spacing: 10px;
    /* letter-spacing: 5px; */
    /* gap: 20px; */
}

.dance {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 22%;
    letter-spacing: 1px;
    color: #FFFFFFCC;
    padding-top: 1%;

}

.btn {
    color: #0b0808;


    margin-top: 12%;
    margin-left: 3%;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

.bb {
    display: flex;
    background-image: url('../resources/Vectorrr.png');

    /* width: 100vw; */
    height: 100vh;
    position: relative;
    top: 20%;
    background-size: cover;
}

.time {
    background-color: antiquewhite;

    margin-top: 60px;
    margin-bottom: 200px;
    height: 50vh;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 7%;
}

.red {
    color: red
}

.btn2 {
    color: #FFFFFF;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;

}



.flex {
    display: flex;
    margin-top: 20px;
}

.best {
    color: #F00;
    /* text-align: center; */
    padding-left: 40%;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    word-spacing: 1px;
    margin-bottom: 10px;

}

.come {
    color: #070211;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;

    padding-left: 40%;


}

.discount {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 40%;
}

.photo3 {
    border: 10px solid red;
    border-radius: 50%;
    padding: 4%;



}

.photo4 {
    padding-left: 20%;
    margin-top: 50px;
}

.red2 {
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20%;
}

.year {
    padding-left: 20%;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;


    /* line-height: 32px; */

}

.port {
    margin-top: 20%;
    padding-left: 15%;
}

.ok {
    color: #F00;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    padding-left: 8%;
}

.sim {
    color: #070211;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 12px;
    padding-left: 8%;
}

.perform {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 8%;

}

.weak {
    display: flex;
    padding-left: 8%;
}

.pari-na1 {
    width: 15%;
    height: 20%;
    margin-left: 15%;
    margin-right: 12px;
    margin-top: 20px;
    border: 1px solid blue;
    border-radius: 10px;
}



.pari-na2 {
    width: 15%;
    height: 20%;
    margin-top: 20px;
    margin-right: 12px;
    border: 1px solid royalblue;
    border-radius: 10px;
}

.pari-na3 {
    width: 15%;
    height: 20%;
    margin-top: 20px;
    border: 1px solid royalblue;
    border-radius: 10px;

}

.weak2 {
    display: flex;
    padding-left: 8%;
}

.pari-na4 {
    width: 15%;
    height: 20%;

    margin-left: 15%;
    margin-right: 12px;
    margin-top: 20px;
    border: 1px solid royalblue;
    border-radius: 10px;

}

.pari-na5 {
    width: 15%;
    height: 20%;
    margin-top: 20px;
    margin-right: 12px;
    border: 1px solid royalblue;
    border-radius: 10px;
}

.pari-na6 {
    width: 15%;
    height: 20%;
    margin-top: 20px;
    border: 1px solid royalblue;
    border-radius: 10px;
}

.weak3 {

    background: #FF00000D;
    margin-top: 100px;
    margin-bottom: 5%;
}

.photo5 {
    padding-left: 46%;
    margin-top: 70px;

}

.Newsletter {
    text-align: center;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
}

.email {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    float: left;
    margin-bottom: 20%;
    margin-left: 470px;


}

.mail {
    position: relative;
    right: 30%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    width: 230px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 18px;
    color: #000;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.mail:focus {
    outline: none;

}

.btn6 {

    width: 100px;
    height: 61px;
    background: cornflowerblue;
    border: 2px solid #000;
    margin-top: 18px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
    position: relative;
    right: 30%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}

.btn6:focus {
    outline: none;
}

.end {
    width: 120%;
    height: 100%;
    background-color: #000;

}

.address {
    display: flex;
    justify-content: space-between;
    padding-left: 40%;
    padding-bottom: 5%;
    width: 50vw;
    color: #FFF;
}

.street {
    position: relative;
    right: 70%;
    bottom: 5%;
    text-decoration: none;
}


.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 15px;
}

.copy {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.copy2 {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
}

.copy3 {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 10%;
}